<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="stylesheet" href="{{ rootPath }}styles/main.css{{ version }}">
	</head>
	<body>
		{% block header %}
			<header class="header">
				<h1 class="visually-hidden">Контентим</h1>
				<div class="header-container container">
					<a href="index.html" class="logo-link">
						<img src="./images/logo.svg" alt="Логотип компании Контентим" class="logo">
					</a>
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li>
								<a href="index.html" class="header__nav-link">Читать контент</a>
							</li>
							<li>
								<a href="index.html" class="header__nav-link">Заказать контент</a>
							</li>
						</ul>

					</nav>
					<nav class="header__aside-nav">
						<ul class="header__aside-nav-list">
							<li>
								<a href="mailto:order@contenteam.ru" class="header__aside-nav-link header__aside-nav-link--mail">
									<span class="visually-hidden">Электронная почта Контентим</span>
								</a>
							</li>
							<li>
								<a href="https://t.me/native_content" class="header__aside-nav-link header__aside-nav-link--tg">
									<span class="visually-hidden">Телеграмм Контентим</span>
								</a>
							</li>
							<li>
								<a href="https://vc.ru/u/595276-contenteam" class="header__aside-nav-link header__aside-nav-link--vc">
									<span class="visually-hidden">Блог Контентим</span>
								</a>
							</li>
						</ul>
					</nav>
					<button class="menu-button" aria-label="Кнопка меню" type="button"></button>
				</div>
			</header>
		{% endblock %}

		{% block main %}{% endblock %}

		{% block footer %}
			<footer class="footer">
				<div class="footer-container container">
					<div class="footer__desktop-wrapper">
						<a href="index.html" class="footer-logo-link">
							<img src="./images/logo-white.svg" alt="Логотип компании Контентим" class="footer-logo">
						</a>
						<div class="footer-soc-list">
							<a href="https://www.youtube.com/" class="footer-soc-list-link footer-soc-list-link--fb">
								<span class="visually-hidden">Ссылка на социальную сеть</span>
							</a>
							<a href="index.html" class="footer-soc-list-link footer-soc-list-link--tg">
								<span class="visually-hidden">Ссылка на социальную сеть</span>
							</a>
						</div>
					</div>
					<form class="form" action="index.html">
						<h2 class="form_title">Подписаться на рассылку Контентим</h2>
						<p class="form_subtitle">Раз в неделю высылаем актуальные материалы и новости рынка</p>
						<input class="form_input" type="text" placeholder="Ваше имя">
						<input class="form_input" type="text" placeholder="Ваш e-mail">
						<button class="form_button" type="submit">Подписаться на новости</button>
					</form>
				</div>
			</footer>
		{% endblock %}
		<script>
			window.appData = {{ appData|json_encode() }};
		</script>
		<script src="{{ rootPath }}scripts/main.js{{ version }}"></script>

		{% if isDev %}
			<script>
				window.pixelperfect = {{ pixelperfect }};
			</script>
			<script src="https://efiand.github.io/pixelperfect-tool/pixelperfect.min.js"></script>
		{% endif %}
	</body>
</html>
